/* Something about the CSS file */

@font-face {
    font-family: "Knockout";
    src: url("knockout.otf") format("truetype");
}

body {
	font-family: "Knockout", sans-serif;
    background-size: 100%;
    background: url("../img/bg.png") no-repeat center center fixed #171a1d; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

canvas {
    display: block;
    margin: 0 auto;
}

#scores {
    width: 100%;
    color: white;
    background-color: black;
    font-size: 3em;
    overflow: auto;
    margin-bottom: 40px;
}

#scores div {
    -webkit-box-sizing: border-box;
}

#scores-player1 {
    text-align: left;
    background-color: #4076e1;
    float: left;
    padding: 0 20px;
}

#scores-player2 {
    text-align: right;
    background-color: #d81313;
    float: right;
    padding: 0 20px;
}

#scores div.loser {
    background-color: transparent;
    color: #999;
}

#alert {
    position: absolute;
    top: 30%;
    width: 100%;
    margin: 0 auto;
    color: white;
    text-align: center;
    font-size: 5em;
    opacity: 0;
    -webkit-animation: alertfade 5s;
    text-transform: uppercase;
}

#alert.player1 {
    color: #4076e1;
}

#alert.player2 {
    color: #d81313;
}

@-webkit-keyframes alertfade {
    0% { opacity: 1; }
    80% { opacity: 1; }
    100% { opacity: 0; }
}